"*":
  "exception-reporting":
    userId: "3d29969c-6fdb-1b89-69a4-440b5bcabf84"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
    tabLength: 4
  linter: {}
  "autocomplete-plus":
    confirmCompletion: "tab and enter"
    navigateCompletions: "ctrl-p,ctrl-n"
  "japanese-wrap":
    characterWidth: {}
  "recent-files":
    updated: false
  "atom-beautify":
    php_cs_fixer_path: "/usr/local/bin/php-cs-fixer"
    _analyticsUserId: "048d2882-f61f-4fe2-b2cb-c0fbc9a3c2ea"
    markdown_pandoc_path: "/usr/local/bin/pandoc"
  "gist-it": {}
  "ever-notedown": {}
